<% provide(:title, "about") %>
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="static_pages/home">home</a>
      <hr>
      <a href="static_pages/help">help</a>
      sample application.
    </p>
  </body>
</html>